@model List<Yummy.WebUI.Dtos.MenuDto.ResultMenuDto>

<section id="menu" class="menu section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Menümüz</h2>
		<p><span>Lezzetli Menümüzü</span> <span class="description-title">İnceleyin</span></p>
	</div><!-- End Section Title -->

	<div class="container">

		<ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

			<li class="nav-item">
				<a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
					<h4>Başlangıçlar</h4>
				</a>
			</li><!-- End tab nav item -->

			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
					<h4>Kahvaltılık</h4>
				</a><!-- End tab nav item -->

			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
					<h4>Öğle Yemeği</h4>
				</a>
			</li><!-- End tab nav item -->

			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
					<h4>Akşam Yemeği</h4>
				</a>
			</li><!-- End tab nav item -->

		</ul>

		<div class="tab-content" data-aos="fade-up" data-aos-delay="200">

			<div class="tab-pane fade active show" id="menu-starters">
				<div class="tab-header text-center">
					<p>Menü</p>
					<h3>Başlangıç</h3>
				</div>
				<div class="row gy-5">

					@foreach (var item in Model)
					{
						@if (item.MenuId == 1)
						{
							<div class="col-lg-4 menu-item">
								<a href="/Yummy/assets/img/menu/menu-item-1.png" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
								<h4>@item.ProductName</h4>
								<p class="ingredients">
									@item.ProductDescription
								</p>
								<p class="price">
									$@item.Price
								</p>
							</div>
						}
					}


				</div>
				<!-- Menu Item -->


			</div>
			<!-- End Starter Menu Content -->

			<div class="tab-pane fade" id="menu-breakfast">

				<div class="tab-header text-center">
					<p>Menü</p>
					<h3>Kahvaltılık</h3>
				</div>

				<div class="row gy-5">

					@foreach (var item in Model)
					{
						@if (item.MenuId == 2)
						{
							<div class="col-lg-4 menu-item">
								<a href="/Yummy/assets/img/menu/menu-item-1.png" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
								<h4>@item.ProductName</h4>
								<p class="ingredients">
									@item.ProductDescription
								</p>
								<p class="price">
									$@item.Price
								</p>
							</div>
						}
					}
	
					<!-- Menu Item -->
				</div>
			</div>
			<!-- End Breakfast Menu Content -->

			<div class="tab-pane fade" id="menu-lunch">

				<div class="tab-header text-center">
					<p>Menü</p>
					<h3>Öğle Yemeği</h3>
				</div>

				<div class="row gy-5">

					@foreach (var item in Model)
					{
						@if (item.MenuId == 3)
						{
							<div class="col-lg-4 menu-item">
								<a href="/Yummy/assets/img/menu/menu-item-1.png" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
								<h4>@item.ProductName</h4>
								<p class="ingredients">
									@item.ProductDescription
								</p>
								<p class="price">
									$@item.Price
								</p>
							</div>
						}
					}
				</div>
			</div>
			<!-- End Lunch Menu Content -->

			<div class="tab-pane fade" id="menu-dinner">

				<div class="tab-header text-center">
					<p>Menü</p>
					<h3>Akşam Yemeği</h3>
				</div>

				<div class="row gy-5">

					@foreach (var item in Model)
					{
						@if (item.MenuId == 4)
						{
							<div class="col-lg-4 menu-item">
								<a href="/Yummy/assets/img/menu/menu-item-1.png" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
								<h4>@item.ProductName</h4>
								<p class="ingredients">
									@item.ProductDescription
								</p>
								<p class="price">
									$@item.Price
								</p>
							</div>
						}
					}
			
				</div>
			</div>
			<!-- End Dinner Menu Content -->

		</div>

	</div>

</section>